
*{
 
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

  
}
html,body{
	background-color: rgb(0, 0, 0);

}
 /* Navigation */
 .main-nav ul {
    display: grid;
    grid-gap: 20px; /* Adjust this value as needed */
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
	box-shadow: 10px 5px 5px rgb(222, 10, 222);
   color:#f7fafd
	
}


.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem 1.2rem; /* Add padding here */
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
	
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}


body{
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: #04000a;
}

h2{
	text-align: center;
	margin-top: 50px;
	font-size: 30px;
}

.products{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	grid-gap: 50px;
	margin: 50px auto;
	max-width: 1240px;
	padding: 20px;
	
	
}

.product{
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.product img{
	width: 100%;
	display: block;
	
}


.product .title{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.product .description{
	padding: 0 20px 20px 20px;	
	line-height: 22px;
}

.product .price{
	text-align: center;
	font-weight: 600;
	font-size: 28px;
	color: #9b0b03;
	padding-top: 30px;
	font-family: sans-serif;
	text-shadow: 0 5px 5px rgba(255, 251, 255, 0.2);
	transform: rotate(-5deg);
	
		-ms-user-select: none; 
			user-select: none;
			transition: font-size 0.4s ease;
}
.product .price:hover{
	font-size: 35px

}

.product .cart{
	padding: 17px 40px;
	border-radius: 50px;
	cursor: pointer;
	border: 0;
	text-align: center;
	background-color: rgb(8, 2, 2);
	box-shadow: rgba(226, 3, 255, 0.05) 0 0 8px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 15px;
	transition: all 0.5s ease;
	color:#f7fafd;
 }


.product .cart :hover{
	letter-spacing: 3px;
	background-color: hsl(261deg 80% 48%);
	color: hsl(0, 0%, 100%);
	box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}


.product .cart:active{
	letter-spacing: 3px;
	background-color: hsl(261deg 80% 48%);
	color: hsl(0, 0%, 100%);
	box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
	transform: translateY(10px);
	transition: 100ms;
}

.view-more{
	margin: 0 auto;
	max-width: 1240px;
	padding: 20px;
	text-align: center;
}

.view-more button{
	padding: 10px 25px;
}
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url();
	background-image: linear-gradient(67.5deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(135deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(0deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(8, 8, 8),rgb(221, 221, 221)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
  }
  
  .showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: white;
  }
  
  .showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
  }
 
.products{
	background-color: #f7fafd;
}

