
*{
 
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;

  
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
}



.grid { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr  ; 
  grid-template-rows: auto ; 
  gap: 100px 100px; 
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 100px;

  grid-template-areas: 
    "div4 div4 div4"
   
    "div1 div2 div3 "
   ; 
}
.grid > article {

  border: 10px solid rgb(247, 247, 247);
  -webkit-box-shadow: 8px 15px 15px 2px rgba(228, 14, 192, 0.58); 
box-shadow: 8px 15px 15px 2px rgba(183, 1, 255, 0.58);
background-color: aliceblue;
}

.grid > article img {
  
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: rgb(2, 0, 0);
  border: 0;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 100%;
  }

  .article1{
    grid-area: div1; 

  }

  .article2 {
     grid-area: div2; }
.article3 { grid-area: div3; }
.article4 { grid-area: div4;

}

.showcase-1{

  grid-area: div4;
 
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;}

  .showcase-1 video  {
    position: absolute;
    top: 10;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* .showcase-1 .content{
    position: relative;
    z-index: 1;
    max-width: 100px;
    margin: 0 ;
    
  }
  
  .showcase-1 .content h1{
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  align-items: baseline;

  } */
  




.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}


@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr    ; 
  grid-template-rows: repeat(4,1fr max-width 200px); 
  gap:  20px; 
  grid-template-areas: 
     ' div4'
      'div1'
      'div3 '
      ' div2'
      ;
  }

  .article1{
    grid-area: div1; 

  }

  .article2 { grid-area: div2; }
.article3 { grid-area: div3; }
.article4 { grid-area: div4;

}
};

